<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Console.Properties.Settings.conn" connectionString="Data Source=DESKTOP-1HVDVK8;Initial Catalog=KhachSan;Integrated Security=True;" />
    <add name="KhachSanContext" connectionString="metadata=res://*/Model.KhachSanModel.csdl|res://*/Model.KhachSanModel.ssdl|res://*/Model.KhachSanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1HVDVK8;initial catalog=KhachSan;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>